@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .navbar-icons-inner{
        display: none;
    }
    .content-container {
        display: flex;
        justify-content: center;
    }
    .navbar-inner {
        width: 100%;

    }

 .bottom-nav {
            display: flex;
            background-color: lightslategray;
        }

.profile-pic img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

footer{
    background-color: black;
}

.triggerPopup{
    display: block;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 250px;
    height: 300px;
    background-color:rgb(59, 78, 77);
  }


#posting{
    margin-bottom:15px;
}

}

@media (max-width: 1280px){
    .sidebar {
        width: 280px;
        height: 100%;
        position:fixed;
        top: 50px; /* Adjust the top position */
        right:165px; /* Adjust the right position */
    }
    
}

@media (max-width: 1024px){
    .sidebar {
        width: 200px;
        height: 100%;
        position:fixed;
        top: 50px; /* Adjust the top position */
        right:140px; /* Adjust the right position */
    }
    
}



@media (max-width: 640px) {
    .content-container {
        padding-top: 0px
    }
    .navbar-inner {
        padding: 0;
    }
    .content {
        margin: 0;
    }
    .search-bar {
        display: block;
        width:600px;
        margin-left: 30px;
    }
    .header {
        border: none;
        background: transparent;
    }

    .profile-pic img {
        height: 22px;
        width: 22px;
        border-radius: 50%;
    }

      
}